__pycache__/settings.cpython-311.pyc
__pycache__/sidepanel.cpython-311.pyc
main.py
sidepanel_commented.py
Commented version/main_commented.py
Commented version/settings.py
Commented version/__pycache__/settings.cpython-311.pyc
Commented version/__pycache__/sidepanel_commented.cpython-311.pyc
Commented version/images/map.png
Commented version/images/paint.png
Commented version/images/terrain.png
